body{
    background-color:black;
    margin: 0 auto;
    color: white;

}
.header {
   
    border-radius: 5px;
}

footer{
    height: 100px;
    border-radius: 5px;
}

.container{
    min-height: 710px;
}

h1{
    color: white;
    font-family: 'Joti One', cursive;
}

/* .header-links{
    position: relative !important;
    top: 60px !important;
    border: 1px solid rebeccapurple;
} */

.jiffy{

    position: relative;
}