body{
    background-color:black;
    margin: 0 auto;
    color: white;

}
.header {
   
    border-radius: 5px;
}

footer{
    height: 100px;
    border-radius: 5px;
}

.container{
    min-height: 710px;
}

.brand-logo {
    color: white;
    font-family: 'Macondo', cursive;
    
  
  background: linear-gradient(to right, #FFF 20%, rgb(207, 118, 200) 40%, rgb(37, 236, 113) 60%, rgb(236, 124, 124) 80%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: JiffY 4s linear infinite;

  }

@keyframes JiffY {
    to {
      background-position: 200% center;
    }
}
/* .header-links{
    position: relative !important;
    top: 60px !important;
    border: 1px solid rebeccapurple;
} */

.jiffy{

    position: relative;
}

/* LINK 2 */
.link-2 {
    position: relative; text-decoration: none; display: inline-block; color: inherit; padding: 0 1px; transition: color ease 0.3s; font-family: 'Titillium Web', sans-serif;
      }
  .link-2:before, 
  .link-2:after {
       content: ''; position: absolute; background-color: #222; z-index: -1; height: 2px;
      }
  .link-2:before {
       width: 0%; left: 0; bottom: 0; transition: width ease 0.4s;
      }
  .link-2:after {
        width: 100%; left: 0; bottom: 0; transition: all ease 0.6s;
      }
  .link-2:hover:before {
        width: 100%;
      }
  .link-2:hover:after {
        left: 100%; width: 0%; transition: all ease 0.2s;
      }	

/* green links */
.link-2.green:before,
.link-2.green:after {
	background: #00b388;
    }
/* tango links */
.link-2.tango:before,
.link-2.tango:after {
	background: #E1523D;
	}
/* aqua links */
.link-2.aqua:before,
.link-2.aqua:after {
	background: #0099ff;
	}
/* navy links */
.link-2.navy:before,
.link-2.navy:after {
	background: #414f5a;
	}
/* leather links */
.link-2.leather:before,
.link-2.leather:after {
	background: #AB9878;
	}
/* azure links */
.link-2.azure:before,
.link-2.azure:after {
	background: #02ACAB;
	}
/* peach links */
.link-2.peach:before,
.link-2.peach:after {
	background: #FEA680;
	}
/* hot-pink links */
.link-2.hot-pink:before,
.link-2.hot-pink:after {
	background: #FE65B7;
    }
/* pink links */
.link-1.pink:after {
	background: #f94877;
	}
/* purple links */
.link-1.purple:after {
	background: #554488;
    }
/* leather links */
.link-1.leather:after {
	background: #AB9878;
    }

/* color text */
.text.color {
	color: rgb(53, 92, 199);
	}

    /* color text */
.text.color1 {
	color: rgb(31, 170, 12);
    }

/* color text */
.text.color2 {
	color: rgb(235, 47, 241);
    }

    /* color text */
.text.color3 {
	color: rgb(241, 225, 77);
    }

    /* color text */
    .text.color4 {
        color: rgb(104, 198, 235);
        }
    
    /* color text */
    .text.color5 {
        color: rgb(238, 133, 36);
        }
    
        /* color text */
    .text.color6 {
        color: rgb(245, 87, 126);
        }
    

.material-icons.topscroll{
    font-size: 70px !important;
    position: fixed;
    bottom: 20px;
    right: 30px;
}

a.top{
    position: fixed;
    bottom: 8px;
    right: 24px;
}